p {
  font
  font-family: 'Dorsa', sans-serif;
}

.flexbox-demo {
  display: flex;
}

.flexbox-demo p {
  width: 50%;
  margin: 20px;
  background: pink;
  padding: 1em;
}

body {
 background-color: #ff82dd;
}

.blue {
  color: red;
  text-transform: uppercase;
}
